#main-layout {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 55px calc(100vh - 55px);
  height: 100vh;
  background: url(/assets/main-bg.jpg) center / cover no-repeat fixed;
}

#main-header {
  height: 55px;
  grid-column: span 2;
}

#main-sidebar {
}

#main-sidebar .navigation-link {
  transition: all 0.3s ease-in-out;
}
#main-sidebar .navigation-link:hover {
  text-indent: 1rem;
}

#group-links-wrapper {
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  height: 100%;
}

#group-links-wrapper.collapsed {
  height: 0;
}

#profile-avatar {
  aspect-ratio: 1;
  display: grid;
  place-content: center;
}
